.footer-container {
    height: 240px;
    background-color: $clr2;
    color: $clr6;
    justify-content: space-between;
}

.footer-content-container {
    letter-spacing: 2px;
    line-height: 28px;
    font-size: rem(14px);

    & h2 {
        margin-inline-end: 190px;
    }
}

.address-container {
    margin-inline-end: 125px;
}

@include for-mobile-wide-layout {
    .footer-container {
        height: 440px;
    }

    .footer-content-container {
        flex-direction: column;
        margin: 80px 0;
        text-align: center;

        & h2 {
            margin-inline-end: unset;
        }
    }

    .footer-info-container {
        flex-direction: column;
    }

    .address-container {
        margin-top: 40px;
        margin-bottom: 32px;
        margin-inline-end: unset;
    }
}
