.preview-container {
    max-width: 540px;
    padding: 24px 0px;
}

.preview-container:first-child {
    padding-top: 0px;
}

.preview-container:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.preview-img-container {
    width: 160px;
    background-image: url("../../assets/imgs/patterns/pattern-divide.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: 10px;
}

.img-container {
    width: 128px;

    img {
        width: 100%;
    }
}

.preview-details {
    margin-inline-start: 30px;
    max-width: 350px;
}

.item-title {
    letter-spacing: -0.22px;
    line-height: 30px;
}

.item-desc {
    margin-top: 4px;
    font-size: rem(15px);
    line-height: 28px;
    letter-spacing: -0.1875px;
}

@include for-mobile-wide-layout {
    .preview-container {
        flex-direction: column;
        align-items: center;
    }

    .preview-img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        background-image: unset;
    }

    .img-container {
        width: 327px;
    }

    .preview-details {
        align-items: center;
        margin-top: 32px;
        margin-inline-start: unset;
        max-width: unset;
    }

    .item-title {
        font-size: rem(18px);
        line-height: 28px;
        letter-spacing: -0.225px;
    }

    .item-desc {
        max-width: 290px;
        text-align: center;
        font-size: rem(15px);
        line-height: 28px;
        letter-spacing: -0.1875px;
    }
}
